body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e2e2fb;
}
.App {
  text-align: center;
}
.navigation {
  display: flex;
  justify-content: center;
  background-color: #343a40;
  padding: 10px 0;
  margin-bottom: 20px;
}
.nav-link {
  color: #2978df;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #020a12;
}
.active-link {
  color: #ff5733;
  font-weight: bold;
}
.header-container {
  padding: 20px;
  background-color: #007bff;
  color: white;
  font-size: 24px;
}
.about-container {
  padding: 20px;
  text-align: center;
}
.about-container h1 {
  color: #333333;
}
.about-container p {
  color: #555555;
  font-size: 16px;
}
.works-container {
  padding: 20px;
  text-align: left;
}
.works-container h1 {
  color: #333333;
}
.works-container ul {
  list-style-type: square;
  padding-left: 20px;
}
.works-container li {
  color: #555555;
  font-size: 16px;
  margin: 5px 0;
}
.contact-container {
  padding: 20px;
  text-align: center;
}
.contact-container h1 {
  color: #333333;
}
.contact-container p {
  color: #555555;
  font-size: 16px;
}
